:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --container-bg-color: #ffffff;
  --container-border-color: #eeeeee;
  --button-bg-color: #f5f4fa;
  --logo-main-color: #000000;
  --footer-background-color: #2f303a;
  --footer-link-color: rgba(255, 255, 255, 0.6);
}

body {
  font-family: "Roboto", sans serif;
  color: var(--primary-text-color);
  background-color: var(--container-bg-color);
  letter-spacing: 0.03em;
}
/* ----------------Header---------------- */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--logo-main-color);
}
span.logo-accent {
  color: var(--accent-color);
}
.site-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  font-style: normal;
}
.auth-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  font-style: normal;
}
.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent-color);
}
.auth-nav-link:hover,
.auth-nav-link:focus {
  color: var(--accent-color);
}
.list {
  list-style: none;
  color: var(--primary-text-color);
}
.link {
  text-decoration: none;
}
.link.current {
  color: var(--accent-color);
}
/* ------------------Hero----------------- */
.hero {
  background-color: var(--footer-background-color);
}
.hero-title {
  color: var(--container-bg-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-button {
  font-family: inherit;
  color: var(--primary-text-color);
  background: var(--button-bg-color);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border-color: transparent;
}
.hero-button:hover {
  color: var(--container-bg-color);
  background: var(--accent-color);
}

/* ---------------features--------------- */
.features-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-text-color);
}
.feature-descr {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}
/* -----------------Team--------------- */
.team {
  color: var(--secondary-text-color);
  background-color: var(--button-bg-color);
}
.team-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.team-list {
  background-color: var(--container-bg-color);
}
.team-list-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.189;
  color: var(--primary-text-color);
}
.team-list-descr {
  font-size: 16px;
  line-height: 1.189;
  color: var(--secondary-text-color);
}
/* ---------------Footer------------ */
.footer {
  background-color: var(--footer-background-color);
}
.footer-nav-link-adress {
  color: var(--container-bg-color);
  font-style: normal;
}
.footer-nav-link-adress:hover,
.footer-nav-link-adress:focus {
  color: var(--accent-color);
}
.footer-nav-link {
  color: var(--footer-link-color);
  font-style: normal;
}
.footer-nav-link:hover,
.footer-nav-link:focus {
  color: var(--accent-color);
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--container-bg-color);
}
span.footer-logo-accent {
  color: var(--accent-color);
}
/* -----------------Portfolio---------------- */

.portfolio {
  background-color: var(--container-bg-color);
}
.portfolio-button {
  font-family: inherit;
  color: var(--primary-text-color);
  background: var(--button-bg-color);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-color: transparent;
}
.portfolio-button:hover {
  color: var(--container-bg-color);
  background: var(--accent-color);
}
.link-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.link-descr {
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-text-color);
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
